# Python virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Model files
*.h5
*.keras
*.pkl

# Large datasets
data/*.csv
desktop.ini

# Processed datasets
data/processed/
notebooks/data/

# Raw datasets
data/Fake.csv
data/True.csv

clean_news.csv

.ipynb_checkpoints/